/**
 * Copyright © 2020, Oracle and/or its affiliates. All rights reserved.
 * The Universal Permissive License (UPL), Version 1.0
 */

// Customized uikit
@import "uk/uikit";
@import "variables";

// Nav
.uk-navbar {
  .uk-logo img {
    max-height: $navbar-nav-item-height - 10;
  }
}

// Headings
h1 {
  margin-top: $global-medium-margin;
}
// h2, h3 {
//   font-family: $rw-secondary-font-family;
// }

// Side nav
.rw-sidebar {
  border-right: $global-border-width solid transparent;
  .uk-light & {
    border-right: $global-border-width solid darken($o-darktheme-bg, 10%);
  }
  @media screen and (min-width: $breakpoint-small) {
    display: block;
    .uk-offcanvas-bar {
      left: 0;
      width: 100%;
      transform: none;
    }
  }
  // hidden spacer
  + * {
    margin-left: $global-gutter;
  }
}

// --------------
// Extra features
// --------------

// Navigation
.uk-nav {
  .uk-open {
    .uk-icon {
      transform: rotate(90deg);
    }
  }
  &.uk-nav-default {
    li.uk-active > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -$global-border-width;
        left: -$global-margin;
        width: $global-small-margin;
        border-top: ($global-border-width * 2) solid $o-orange;
      }
    }
  }
}

// Table 
.uk-table {
  .uk-light & {
    th {
      color: $inverse-table-header-cell-color;
    }
    &.uk-table-striped {
      tbody tr:nth-of-type(odd) {
        background: $inverse-table-striped-row-background;
      }
    }
  }
}

// heading accents
[class*="rw-accent"] {
  &:after {
    content: '';
    display: block;
    width: $global-medium-margin;
    height: 6px;
    margin: $global-margin 0;
    background: $o-red;
  }
  &.rw-accent-yellow:after { background: $o-yellow; }
  &.rw-accent-orange:after { background: $o-orange; }
  &.rw-accent-green:after { background: $o-green; }
  &.rw-accent-blue:after { background: $o-blue; }
}

// Text
.force-nowrap, .force-nowrap * {
  white-space: nowrap!important;
}

// Search
.rw-search-dropdown {
  .highlight {
    text-decoration: underline dotted;
    -webkit-text-decoration-style: dotted;
  }
  .uk-text-muted {
    color: $inverse-global-subtext-color !important;
  }
  .suggestion {
    // cursor: pointer;
    a {
      display: block;
      color: inherit;
    }
  }
  [class*="rw-accent"] {
    &:after {
      height: 3px;
      margin: $global-small-margin 0;
    }
  }
}