/**
 * Copyright © 2020, Oracle and/or its affiliates. All rights reserved.
 * The Universal Permissive License (UPL), Version 1.0
 */

@mixin hook-base-pre() {

}

@mixin hook-base-code() {
  padding: 2px 6px;
  background: rgba($o-beige, 0.4);
  border-radius: 2px;
  font-style: normal;
}

@mixin hook-base-blockquote() {
  color: $global-muted-color;
  * + & {
    margin: $global-small-margin 0 !important;
  }
  p + &, pre + &, .highlight + & {
    margin-top: -$global-small-margin !important;
  }
}

@mixin hook-label() {
  &:hover {
    color: $label-color;
    text-decoration: none;
  }
}

@mixin hook-alert() {
  a {
    color: $global-emphasis-color;
  }
}