%o-content-blockquote {
  background: transparent;
  color: inherit;
  $bargap: 10px;
  float: none;
  clear: none;
  width: auto;
  margin-top: $bargap;
  margin-right: $examples-width;
  margin-left: $main-padding;
  margin-bottom: 1rem;

  p {
    font-weight: 200;
    padding: $bargap / 2 $bargap;
    // border-left: 2px solid rgba($o-color-accent-3, 0.5);
    background: transparent;
    color: inherit;
    font-size: 0.95rem;
  }

  a {
    color: inherit;
    font-weight: normal;
  }

  code {
    color: inherit;
  }
}

%code-inline {
  background-color: rgba($o-color-black, 0.1);
  white-space: nowrap;
}
