/*! FONT - ORACLESANS FONT */
@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_Lt.woff2") format("woff2"), font-url("OracleSans_Lt.woff") format("woff"), font-url("OracleSans_Lt.ttf") format("truetype");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_LtIt.woff2") format("woff2"), font-url("OracleSans_LtIt.woff") format("woff"), font-url("OracleSans_LtIt.ttf") format("truetype");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_Rg.woff2") format("woff2"), font-url("OracleSans_Rg.woff") format("woff"), font-url("OracleSans_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_It.woff2") format("woff2"), font-url("OracleSans_It.woff") format("woff"), font-url("OracleSans_It.ttf") format("truetype");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_SBd.woff2") format("woff2"), font-url("OracleSans_SBd.woff") format("woff"), font-url("OracleSans_SBd.ttf") format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_SBdIt.woff2") format("woff2"), font-url("OracleSans_SBdIt.woff") format("woff"), font-url("OracleSans_SBdIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_Bd.woff2") format("woff2"), font-url("OracleSans_Bd.woff") format("woff"), font-url("OracleSans_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_BdIt.woff2") format("woff2"), font-url("OracleSans_BdIt.woff") format("woff"), font-url("OracleSans_BdIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_XBd.woff2") format("woff2"), font-url("OracleSans_XBd.woff") format("woff"), font-url("OracleSans_XBd.ttf") format("truetype");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans";
  src: font-url("OracleSans_XBdIt.woff2") format("woff2"), font-url("OracleSans_XBdIt.woff") format("woff"), font-url("OracleSans_XBdIt.ttf") format("truetype");
  font-weight: 800;
  font-style: italic
}

@font-face {
  font-display: fallback;
  font-family: "Oracle Sans Condensed";
  src: font-url("OracleSans_Bd.woff2") format("woff2"), font-url("OracleSans_Bd.woff") format("woff"), font-url("OracleSans_Bd.ttf") format("truetype");
  font-weight: 500;
  font-style: normal
}
