@import 'vars';
@import 'abstracts';
@import 'redwood';
@import '../screen.css';

html, body {
  // background-color: $examples-bg;
  background: $examples-bg url(../../images/rw.swerve.jpg) repeat;
}

// TOC
.toc-wrapper {

  > img.logo {
    max-width: 90%;
    margin: $nav-v-padding auto 0;
    &.print {
      display: none;
    }
  }

  .toc-footer {
    border-top: 1px solid $nav-footer-border-color;
    margin-top: 0;
    li {
      white-space: normal;
      icon {
        font-size: 1.2em;
      }
    }
  }

}


.page-wrapper {
  padding: 0;
  margin-right: auto;
  max-width: $main-width-max;
}

// MAIN CONTENT
.content {
  background-color: $main-bg;


  // TYPOGRAPHY
  > h1 {
    // font-weight: 200;
    text-shadow: 0px 1px 0px $o-color-light;
    background: transparent;
    // border: none;
    // border-bottom: 1px solid $o-color-hr;
  }
  h2 {
    margin-top: 0;
    background: none;
    + ul, + ol {
      margin-top: 0;
    }
  }
  h3 {
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding-top: $main-padding;
    text-transform: uppercase;
    > code {
      text-transform: none;
    }
  }

  hr + h2, hr + h3 {
    padding-top: 0;
    border: none;
  }

  a {
    color: $o-color-orange;
    text-decoration: none;
  }
  // BLOCKS
  aside {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: $main-padding;
    padding-right: $main-padding;
    &.notice {
      // color: $o-color-light !important;
      * { color: inherit; }
      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  // override examples area
  pre, blockquote {
    width: auto;
    float: none;
    clear: right;
  }

  pre {
    overflow: initial;
    position: relative;
    padding: 0;
    margin: 0 $main-padding $main-padding;
    background: transparent;
    code {
      display: block;
      overflow: auto;
      padding: $main-padding/2 $main-padding;
      color: $o-color-light;
      background: $code-bg;
    }
    + blockquote {
      margin-top: -($main-padding / 2);
    }
  }

  blockquote {
    @extend %o-content-blockquote;
  }

  table {
    display: table;
    width: 100%;
    
    th {
      border-bottom: none;
    }
    
    th, td {
      padding: $main-padding / 2 $main-padding;
    }
    tr:nth-child(even) > td {
      background-color: lighten($main-bg, 10%);
    }
  }

  a, p, aside, li { // inline code style
    > code {
      @extend %code-inline;
    }
  }

  a > code, p > code {
    color: $o-color-red !important;
    text-decoration: none;
  }

  ul > li, ol > li {
    p {
      margin-bottom: 5px;
    }
    > pre, blockquote {
      margin-right: 0 !important; 
      margin-left: 0;
    }
    > blockquote {
      // @extend %o-content-blockquote;
      // margin-top: -($main-padding / 2);
    }
    
    // Nested lists
    > ol, ul {
      padding-left: 1rem;
      margin-bottom: $main-padding;
    }

  }
}

.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  // horizontal
  &.flex-center {
		justify-content: center;
  }
  // vertical
  &.flex-stretch {
		align-items: stretch;
  }
  &.flex-middle {
		align-items: center;
  }
  &.gutters {
    margin-left: -$main-padding;
    > * {
      margin-left: $main-padding;
      margin-bottom: $main-padding;
    }
  }
}

// smart toggles (settings)

.smart-toggles {
  padding: 1em;
  border-top: 1px solid $nav-footer-border-color;
  color: $nav-text;
  .toggle-group {
    white-space: nowrap;
    margin-top: 0.5em;

    label {
      width: 3em;
      margin-right: 5px;
      flex-shrink: 0;
    }
    $radius: 3px;
    a {
      color: $o-color-light;
      display: block;
      padding: .375em .75em;
      border: 1px solid $o-color-light;
      background: $o-color-dark;
      text-decoration: none;
      font-size: 0.9em;
      + a {
        border-left: 0;
      }
      &:hover {
        background: $o-color-darkish;
      }
      &.active {
        background: $o-color-blue;
      }
      &:first-child {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius; 
      }
      &:last-child {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius; 
      }
    }
    
  }
}

// clipboard
pre {
  .copier {
    text-decoration: none !important;
    border: none !important;
    display: none;
    position: absolute;
    top: $copier-stroke; right: $copier-stroke;
    padding: 3 * $copier-stroke;
    cursor: pointer;
    span {
      box-sizing: border-box;
      display: block;
      width: $copier-size;
      height: $copier-size;
      border: $copier-stroke solid $o-color-tint;
      + span {
        position: absolute;
        top: $copier-stroke;
        right: $copier-stroke;
        border-bottom: none;
        border-left: none;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &:hover .copier {
    display: block;
  }
}

// contributors list
#muContributors {
  padding: 0 $main-padding;
  > div {
    width: calc(#{percentage(1/2)} - #{$main-padding});
    @media (min-width: $phone-width) {
      width: calc(#{percentage(1/4)} - #{$main-padding});
    }
    img {
      flex-shrink: 0;
      max-width: $contrib-avatar-size;
      max-height: $contrib-avatar-size;
      margin: 0 $main-padding 0 0;
    }
  }
}

.footer-wrapper {
  position: relative;
  .page-footers {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}