# Copyright (c) 2020 Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.
# 

# OCI authentication

tenancy_ocid = "ocid1.tenancy....."
compartment_ocid = "ocid1.compartment...." 
fingerprint = "" # e.g.: "5f:53:..." or leave blank if using CloudShell
user_ocid = ""  # e.g.: "ocid1.user..." or leave blank if using CloudShell

# region
region = "us-ashburn-1"

# public_ssh_key
public_ssh_key = ""

# MuShop
mushop_mock_mode_all = false # Set to true if do not want to provision ATP, ObjectStorage and mock all services