//- GDPR compliant consent
div(mu-user-consent mu-cloak
  class=("mu-consent " +
        "uk-alert " +
        "uk-position-fixed " +
        "uk-position-small " +
        "uk-position-bottom-left " +
        "uk-width-1-1 " +
        "uk-width-1-2@s " +
        "uk-width-1-4@m"))
  p
    | This website uses cookies to ensure proper functionality, but does not 
    | use personal information or track usage. By using the website, you agree 
    | to our use of cookies.
  a.uk-button.uk-button-secondary.uk-margin-small.uk-width-1-1(mu-click="consent") OK