//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
extends /layouts/_default

block vars
  -
    page = {
      title: 'Whoops'
    }

block default
  section.uk-section.uk-section-small
    div.uk-container
      div.uk-text-center
        h1.uk-heading-hero Whoopsie :'(
        div.uk-text-lead.uk-text-danger(mu-route-props)
          +icon('warning')(class="uk-margin-small-right")
          span(mu-html="query.message")
          span(mu-hide="query.message") An unexpected error occurred.
        div.uk-margin-top Please try again, or contact us.
          p Go back to&nbsp;
            a(href="index.html" mu-route) Homepage
            |  or 
            a(href="contacts.html" mu-route) contact us.