//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
div#cart-offcanvas(mu-cart template="miniCart.html" uk-offcanvas="overlay: true; flip: true")
