//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 386.637 111.31">
  <defs>
    <style type="text/css">
      | @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
    </style>
    <filter id="Path_27" x="0" y="0" width="68.27" height="62.951" filterUnits="userSpaceOnUse">
      <feOffset dx="1" dy="3" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="3" result="blur"/>
      <feFlood flood-opacity="0.502"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="path5" x="17.637" y="11.4" width="32.537" height="39.173" filterUnits="userSpaceOnUse">
      <feOffset dy="3" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="3" result="blur-2"/>
      <feFlood flood-opacity="0.275"/>
      <feComposite operator="in" in2="blur-2"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Group_52" data-name="Group 52" transform="translate(-24.363 -188.69)">
    <g id="Group_44" data-name="Group 44" transform="translate(-17 -227)">
      <g id="ailurophile" transform="translate(56.146 424)">
        <path id="Path_22" data-name="Path 22" d="M92.419,39.93c1.366-3.753,2.452-9.288-.134-14.342A14.157,14.157,0,0,1,90.8,19.077c.036-6.071.128-12.395.2-16.631A2.4,2.4,0,0,0,86.88.726l-9.515,9.726a24.471,24.471,0,0,0-14.293,1.035c-2.685-2.606-7.715-7.029-10.6-9.54a2.37,2.37,0,0,0-2.623-.352,2.4,2.4,0,0,0-1.358,2.275l.681,15.152a42.46,42.46,0,0,1-.769,10.243A58.664,58.664,0,0,0,47.2,43.459,26.716,26.716,0,0,0,32.879,49.5c-7.806,6.322-12.857,16.621-15.012,30.613a1.15,1.15,0,0,0,2.274.35C22.207,67.057,26.98,57.241,34.327,51.29c6.568-5.319,12.9-5.589,14.1-5.589a1.15,1.15,0,0,0,1.146-1.248,54.559,54.559,0,0,1,1.088-14.737,44.748,44.748,0,0,0,.812-10.8L50.792,3.766a.091.091,0,0,1,.059-.1.087.087,0,0,1,.112.015c3.067,2.671,8.576,7.517,11.02,9.962a1.15,1.15,0,0,0,1.248.252,22.059,22.059,0,0,1,14.107-1.06,1.151,1.151,0,0,0,1.192-.285L88.524,2.335a.089.089,0,0,1,.116-.024.086.086,0,0,1,.063.1c-.072,4.242-.164,10.575-.2,16.656a16.468,16.468,0,0,0,1.733,7.573c2.208,4.316,1.23,9.183.02,12.507a16.752,16.752,0,0,0-.506,9.75c1.654,6.744,3.358,19.9-3.817,32.224a1.15,1.15,0,1,0,1.988,1.157c7.581-13.024,5.8-26.848,4.063-33.93A14.461,14.461,0,0,1,92.419,39.93Z" transform="translate(0 0)" fill="#fff"/>
        <path id="Path_23" data-name="Path 23" d="M244.008,129.685a1.15,1.15,0,0,0,2.3,0,4.7,4.7,0,0,0-9.394,0,1.15,1.15,0,0,0,2.3,0,2.4,2.4,0,0,1,4.793,0Z" transform="translate(-177.062 -101.025)" fill="#fff"/>
        <path id="Path_24" data-name="Path 24" d="M325.614,124.988a4.7,4.7,0,0,0-4.7,4.7,1.15,1.15,0,1,0,2.3,0,2.4,2.4,0,0,1,4.793,0,1.15,1.15,0,1,0,2.3,0A4.7,4.7,0,0,0,325.614,124.988Z" transform="translate(-244.96 -101.025)" fill="#fff"/>
        <path id="Path_25" data-name="Path 25" d="M274.957,182.517a1.15,1.15,0,0,0-1.15,1.15,3.3,3.3,0,1,1-6.606,0,1.15,1.15,0,0,0-2.3,0,3.3,3.3,0,1,1-6.606,0,1.15,1.15,0,0,0-2.3,0,5.6,5.6,0,0,0,10.057,3.4,5.6,5.6,0,0,0,10.057-3.4A1.15,1.15,0,0,0,274.957,182.517Z" transform="translate(-192.483 -147.525)" fill="#fff"/>
      </g>
      <text id="MuShop" transform="translate(156 507)" fill="#de6c0a" font-size="80" font-family="Quicksand-Light, Quicksand" letter-spacing="-0.066em" font-weight="300"><tspan x="0" y="0">Mu</tspan><tspan y="0" fill="#fff" font-family="Quicksand-Regular, Quicksand" font-weight="400">Shop</tspan></text>
    </g>
    <g id="conversation-speech-bubbles-" transform="matrix(0.995, -0.105, 0.105, 0.995, 32.265, 198.601)">
      <g transform="matrix(0.99, 0.1, -0.1, 0.99, -6.82, -10.68)" filter="url(#Path_27)">
        <path id="Path_27-2" data-name="Path 27" d="M23.154.935c12.788,0,23.154,8.189,23.154,18.287a16.364,16.364,0,0,1-6.132,12.4c.146,3.175.8,7.444,3.116,9.646-4.422,0-8.951-2.926-11.636-5.034a28.463,28.463,0,0,1-8.5,1.277C10.366,37.509,0,29.32,0,19.222S10.366.935,23.154.935Z" transform="matrix(0.99, -0.1, 0.1, 0.99, 7.9, 9.91)" fill="#e5e5e5"/>
      </g>
    </g>
    <g transform="matrix(1, 0, 0, 1, 24.36, 188.69)" filter="url(#path5)">
      <path id="path5-2" data-name="path5" d="M16.89,24.508h0a2.34,2.34,0,0,0,2.528,2.212A3.332,3.332,0,0,0,22.1,25.3c0-.158-.158-.474-.316-.474s-.316.474-1.106.474c-1.264,0-1.264-1.264-1.264-2.686V12.657c-.79,0-1.738.316-2.528.316V23.086A6.219,6.219,0,0,1,12.781,25.3c-1.9,0-2.37-1.58-2.37-3.476V15.659c0-1.106-.158-3-.158-3-.948,0-1.9.316-2.686.316,0,0,.316,2.37.316,3.318v5.846c0,1.9.316,3.476.316,4.582,0,1.9-.474,3.318-.474,5.056A2.214,2.214,0,0,0,9.463,33.83c.79,0,1.422-.632,1.422-1.9,0-1.422-1.106-3.634-1.106-5.688,0-.158.158-.316.474-.316a2.367,2.367,0,0,0,1.9.79A5.924,5.924,0,0,0,16.89,24.508ZM16.89,24.508Z" transform="translate(19.07 4.74)"/>
    </g>
  </g>
</svg>
