/**
 * Copyright © 2020, Oracle and/or its affiliates. All rights reserved.
 * The Universal Permissive License (UPL), Version 1.0
 */
@import "config";

.mu-contributors {
  [class*=dependabot] {
    display: none;
  }
  img {
    flex-shrink: 0;
    max-width: $contrib-avatar-size;
    max-height: $contrib-avatar-size;
    margin: 0 $global-margin 0 0;
  }
}

// language settings
pre {
  code {
    // denoted syntax languages like ```shell--helm2 ...
    &[class*="macos"], &[class*="win"], &[class*="linux"], // OS
    &[class*="helm3"], &[class*="helm2"] { // helm
      display: none;
    }
    // toggles on html element
    .stg-os-macos & { &[class*="macos"] { display: block; } }
    .stg-os-linux & { &[class*="linux"] { display: block; } }
    .stg-os-windows & { &[class*="win"] { display: block; } }
    .stg-helm-2 & { &[class*="helm2"] { display: block; } }
    .stg-helm-3 & { &[class*="helm3"] { display: block; } }
  }
}