//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
include _icon
include _link-to-all
include _filterbox
include _product
include _price
include _quantity
include _product-small
include _article