//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
mixin price(bindProp, negative)
  if negative
    |-$
  else
    |$
  span(mu-html= bindProp)&attributes(attributes)