apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "events.fullname" . }}
  labels:
{{ include "events.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      app.kubernetes.io/name: {{ include "events.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        version: {{ .Values.image.tag | quote }}
        app.kubernetes.io/name: {{ include "events.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/app"]
          args:
          - -port=8080
          env:
            {{- include "events.env.stream" . | nindent 12 }}
          ports:
            - name: http
              containerPort: 8080
          livenessProbe:
            periodSeconds: 120
            httpGet:
              path: /health
              port: http
          readinessProbe:
            periodSeconds: 10
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
{{- if not .Values.global.okeVirtualNodesSupport }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
{{- else }}
      automountServiceAccountToken: false
{{- end }}
