---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  labels:
    name: catalogue
spec:
  replicas: 1
  selector:
    matchLabels:
      name: catalogue
  template:
    metadata:
      labels:
        name: catalogue
    spec:
      terminationGracePeriodSeconds: 5
      containers:
        - name: catalogue
          image: phx.ocir.io/intvravipati/mushop/catalogue:1.1
          imagePullPolicy: Always
          command: ["/app"]
          args:
          - -port=80
          ports:
          - containerPort: 80
          env:
          - name: ZIPKIN
            value:
          - name: OADB_USER
            valueFrom:
              secretKeyRef:
                name: catalogue-oadb-connection
                key: oadb_user
          - name: OADB_PW
            valueFrom:
              secretKeyRef:
                name: catalogue-oadb-connection
                key: oadb_pw
          - name: OADB_SERVICE
            valueFrom:
              secretKeyRef:
                name: catalogue-oadb-connection
                key: oadb_service
          securityContext:
            capabilities:
              drop:
                - all
              add:
                - NET_BIND_SERVICE
            readOnlyRootFilesystem: true
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 120
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          volumeMounts:
          - name: wallet
            mountPath: "/usr/lib/oracle/19.3/client64/lib/network/admin"
      volumes:
      - name: wallet
        secret:
          secretName: catalogue-oadb-wallet
          defaultMode: 256