//-
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
 
include ../data/_data
include ../mixins/_import

doctype html
//
 Copyright © 2019, Oracle and/or its affiliates. All rights reserved.
 The Universal Permissive License (UPL), Version 1.0
<!-- BUILD: #{version}-->

//- Variables
block vars
  - var page

//- Template
html(lang="en")
  head
    include /partials/_head
    //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500")
    link(rel="stylesheet" href="styles/uikit.css")
    link(rel="stylesheet" href="styles/shop.css")
    //- uikit scripts
    script(src="scripts/uikit.js")

  body
    div#app.uk-offcanvas-content
      block index
    //- shop scripts
    script(src="scripts/app.js" defer)
    script(src="scripts/charts.js" defer async)